In [1]:
#Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
#Import csv file to be analyzed airline_passenger_satisfaction
# Goals: which percentage of airline passengers are satisfied? Does it vary

airline_pass_data = Path("Resources/airline_passenger_satisfaction.csv")

airline_data = pd.read_csv(airline_pass_data)
airline_data

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129876,Male,28,Returning,Personal,Economy Plus,447,2,3.0,4,...,5,1,4,4,4,5,4,4,4,Neutral or Dissatisfied
129876,129877,Male,41,Returning,Personal,Economy Plus,308,0,0.0,5,...,5,2,5,2,2,4,3,2,5,Neutral or Dissatisfied
129877,129878,Male,42,Returning,Personal,Economy Plus,337,6,14.0,5,...,3,3,4,3,3,4,2,3,5,Neutral or Dissatisfied
129878,129879,Male,50,Returning,Personal,Economy Plus,337,31,22.0,4,...,4,4,5,3,3,4,5,3,5,Satisfied
129879,129880,Female,20,Returning,Personal,Economy Plus,337,0,0.0,1,...,4,2,4,2,2,2,3,2,1,Neutral or Dissatisfied

In [ ]:
### get the number of 'Neutral or Dissatisfied' reviews

In [ ]:
#Which percentage of airline passengers are satisfied?

# Does it vary by customer type?

#What about type of Travel?

In [ ]:
#What is the most common customer profile for a repeating visit

#Does flight distance affect customer preferences or flight patterns?

In [ ]:
# What is most commonly disliked services?

In [ ]:
# What are the top 5 most liked services?

# What are the least like services?

In [ ]:
# Based on class is there a change in satisfaction?